# {{ ansible_managed }}

{% set special_keys = ['triggers', 'device', 'family', 'method', 'bridge', 'pre-up', 'up', 'down', 'post-down']%}

{% for trigger in item.triggers %}
{{ trigger }} {{ item.device }}
{% endfor %}
iface {{ item.device }} {{ item.family | default('inet', true) }} {{ item.method | default('dhcp', true) }}
{% for key in item %}
{% if item not in special_keys %}
  {{ key }} {{ item[key] }}
{% endif %}
{% endfor %}

{%- if item.bridge is defined -%}

  # bridge settings
{%   for key in ['ports', 'stp', 'fd', 'maxwait', 'waitport'] %}
{%     if key in item.bridge -%}
  bridge_{{ key }} {{ item.bridge[key] }}
{%     endif %}
{%   endfor %}
{% endif %}

{%- if ['pre-up', 'up', 'down', 'post-down'] | intersect(item.keys()) %}

  # hook scripts
{%   for key in ['pre-up', 'up', 'down', 'post-down'] %}
{%     if key in item %}
{%       for value in item[key] %}
  {{ key }} {{ value }}
{%       endfor %}
{%     endif %}
{%   endfor %}
{% endif %}
